@keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(1.1, 1.15);
        -webkit-transform: scale(1.1, 1.15);
        transform: scale(1.1, 1.15)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
@-webkit-keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(1.1, 1.15);
        -webkit-transform: scale(1.1, 1.15);
        transform: scale(1.1, 1.15)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
@keyframes press {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
@-webkit-keyframes press {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(.8, .8);
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
.js-vote-up-btn.sox-better-css:not(.fc-theme-primary),
.js-vote-down-btn.sox-better-css:not(.fc-theme-primary) {
    position: relative;
    transition: all .1s ease, background-color .4s ease, background-position .4s ease;
    -webkit-transition: height .1s ease, background-color .4s ease, background-position .4s ease;
    -moz-transition: all .1s ease, background-color .4s ease, background-position .4s ease;
    -ms-transition: all .1s ease, background-color .4s ease, background-position .4s ease;
    -o-transition: all .1s ease, background-color .4s ease, background-position .4s ease
}
.js-vote-up-btn.sox-better-css:not(.fc-theme-primary):hover,
.js-vote-down-btn.sox-better-css:not(.fc-theme-primary):hover,
.js-favorite-btn.sox-better-css:not(.fc-theme-primary):hover {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-name: pulse;
    animation-duration: .5s
}
.js-vote-up-btn.sox-better-css:not(.fc-theme-primary):active,
.js-vote-down-btn.sox-better-css:not(.fc-theme-primary):active,
.js-favorite-btn.sox-better-css:not(.fc-theme-primary):active {
    -webkit-animation-name: press;
    -webkit-animation-duration: .5s;
    animation-name: press;
    animation-duration: .5s;
}
